@import "@/styles/variables.scss";
@import "@/styles/mixins.scss";

$n: 100;

.planner-step-2 {
	display: flex;
	justify-content: center;
	padding-bottom: 100px;
	@include enter-animation;

	.calendar-picker-group {
		margin-top: 50px;
		max-width: 935px;
		width: 100%;
		display: grid;
		grid-template-columns: repeat(12, minmax(22px, 1fr));
		gap: 50px;

		@include mQ(940px) {
			display: block;
			margin-top: 30px;

			.filters {
				display: none;
			}

			.content {
				.blocks {
					.block-subtitle {
						display: none;
					}

					.mobile-filters {
						display: grid;
					}

					.sticky-button {
						position: sticky;
						bottom: 10px;
					}
				}
			}
		}

		.filters {
			grid-column: span 3;
		}

		.content {
			grid-column: span 9;

			.mantine-DatePicker-levelsGroup {
				display: grid;
				grid-template-columns: repeat(3, minmax(22px, 1fr));
				gap: 20px;

				@include mQ(710px) {
					grid-template-columns: repeat(2, minmax(22px, 1fr));
				}

				@include mQ(500px) {
					grid-template-columns: repeat(1, minmax(22px, 1fr));
				}

				.mantine-DatePicker-day {
					pointer-events: none;
				}

				.mantine-DatePicker-calendarHeaderLevel {
					pointer-events: none;
				}
			}

			.mobile-filters {
				display: none;
				grid-template-columns: 1fr 1fr;
				gap: 10px;
				width: 100%;
				margin: 20px 0px;

				@include mQ(940px) {
					display: grid;
				}
			}

			.blocks {
				grid-column: span 9;

				.blocks-content {
					display: grid;
					grid-template-columns: repeat(3, minmax(22px, 1fr));
					gap: 10px;

					@include mQ(600px) {
						grid-template-columns: repeat(2, minmax(22px, 1fr));
					}

					@include mQ(400px) {
						grid-template-columns: repeat(1, minmax(22px, 1fr));
					}
				}
			}
		}
	}
}

@keyframes stagger-in {
	to {
		opacity: 1;
		transform: translateY(0px);
	}
}
