@import "@/styles/variables.scss";
@import "@/styles/mixins.scss";

.auth {
	height: 100vh;
	@include center-item;
	@include enter-animation;

	.auth-content {
		padding: 50px 0px;
		max-width: 500px;
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 10px;

		form {
			.form-right-link {
				display: flex;
				justify-content: flex-end;
				margin: 20px 0px;
			}
		}
	}
}

.auth-content {
	display: flex;
	justify-content: center;
}

.logo-main {
	width: 10rem;
}