@import "@/styles/variables.scss";
@import "@/styles/mixins.scss";

.mobile-menu {
	position: relative;
	display: none;

	.mm-burger {
		display: inline-block;
		width: 18px;
		height: 18px;
		cursor: pointer;
		text-decoration: none;

		i {
			position: relative;
			display: inline-block;
			width: 18px;
			height: 3px;
			color: #252525;
			font: bold 14px/0.4 Helvetica;
			text-transform: uppercase;
			text-indent: -55px;
			background: #252525;
			transition: all 0.3s;

			&::before,
			&::after {
				content: "";
				width: 18px;
				height: 3px;
				background: #252525;
				position: absolute;
				left: 0;
				transition: all 0.3s;
			}

			&::before {
				top: -7px;
			}

			&::after {
				bottom: -7px;
			}
		}

		&:hover {
			i {
				&::before {
					top: -10px;
				}

				&::after {
					bottom: -10px;
				}
			}
		}

		&.active {
			i {
				background-color: transparent;

				&::before {
					top: 0;
					transform: rotateZ(45deg);
				}

				&::after {
					bottom: 0;
					transform: rotateZ(-45deg);
				}
			}
		}
	}

	.mm-menu-list {
		display: flex;
		flex-direction: column;
		border: 1px solid #f7f2fd;
		background-color: #faf7fe;
		width: 300px;
		padding: 20px;
		border-radius: 3px;
		position: absolute;
		right: 0px;
		top: 30px;
		@include enter-animation;
	}
}
