@use "@/styles/variables.module.scss";
@use "@/styles/mixins.scss";
@use "sass:color";

html {
	&::-webkit-scrollbar {
		width: 11px;
	}

	& {
		scrollbar-width: thin;
		scrollbar-color: color.adjust(variables.$sea, $lightness: -10%) white;
	}

	&::-webkit-scrollbar-track {
		background: white;
	}

	&::-webkit-scrollbar-thumb {
		background-color: variables.$sea;
		border-radius: 2px;
		border: 3px solid white;
	}
}

//Mantine UI Config
//Combobox Select
.mantine-Select-input,
.mantine-TextInput-input,
.mantine-Textarea-input,
.mantine-Chip-label {
	border-color: variables.$sea !important;
}

.mantine-Select-dropdown,
.mantine-Combobox-dropdown {
	border-color: variables.$sea;
	border-radius: 10px;
}

.mantine-Combobox-option {
	border-radius: 7px;

	&:hover,
	&[data-combobox-active] {
		background-color: rgba(variables.$purple, 0.09);
		color: color.adjust(variables.$purple, $lightness: -20%) !important;
	}
}

//Menu
//Menu
.mantine-Menu-item {
	transition: all 0.3s;

	&:hover {
		color: color.adjust(variables.$purple, $lightness: -20%) !important;
		background-color: rgba(variables.$purple, 0.09);
	}
}

.mantine-Menu-dropdown {
	border: 1px solid rgba(variables.$sea, 1);
	box-shadow: 0px 1px 5px 0px rgba(139, 0, 255, 0.08);
	border-radius: 10px;
}

// .mantine-Menu-label {
// 	color: variables.$main-color;
// 	opacity: 0.5;
// }

//Button
.mantine-Button-root {
	&[data-disabled] {
		opacity: 0.5;
	}
}

//DateTime Input
.mantine-DateInput-root,
.mantine-TimePicker-root,
.mantine-NumberInput-root {
	.mantine-DateInput-wrapper,
	.mantine-TimePicker-wrapper,
	.mantine-NumberInput-wrapper {
		.mantine-DateInput-input,
		.mantine-TimePicker-input,
		.mantine-NumberInput-input {
			border: 1px solid rgba(variables.$sea, 1);

			&:hover {
				background-color: rgba(variables.$purple, 0.09);

				&::placeholder {
					color: color.adjust(
						variables.$purple,
						$lightness: -20%
					) !important;
				}
			}
		}
	}
}

//Styled Tabs and Tabs
.mantine-SegmentedControl-root {
	background: variables.$sea;

	.mantine-SegmentedControl-indicator {
		box-shadow: none;
	}

	&.styled-tab {
		background: #efeffd;
		background: linear-gradient(
			130deg,
			rgba(239, 239, 253, 1) 0%,
			rgba(251, 235, 243, 1) 49%,
			rgba(244, 234, 252, 1) 100%
		);
		border: 1px solid variables.$sea;

		.mantine-SegmentedControl-label {
			.mantine-SegmentedControl-innerLabel {
				p {
					transition: all 0.3s;
				}
			}

			&[data-active="true"] {
				.mantine-SegmentedControl-innerLabel {
					p {
						color: white !important;
					}
				}

				&:hover {
					.mantine-SegmentedControl-innerLabel {
						p {
							&:nth-child(1) {
								color: white !important;
							}
						}
					}
				}
			}

			&:hover {
				.mantine-SegmentedControl-innerLabel {
					p {
						&:nth-child(1) {
							color: variables.$blue !important;
						}
					}
				}
			}
		}

		.mantine-SegmentedControl-indicator {
			border-radius: 5px;
			background: #6666f1;
			background: linear-gradient(
				130deg,
				rgba(102, 102, 241, 1) 0%,
				rgba(169, 87, 197, 1) 49%,
				rgba(234, 70, 154, 1) 100%
			);
		}
	}
}

//Input
.mantine-TextInput-input {
	font-weight: 600;

	&:focus {
		border-color: variables.$blue;
	}

	&::placeholder {
		font-weight: normal;
	}
}

//Slider
.mantine-Slider-track {
	&::before {
		background-color: variables.$red;
	}
}
