@import "@/styles/variables.scss";
@import "@/styles/mixins.scss";

$n: 100;

.planner-step-3 {
	display: flex;
	justify-content: center;
	padding-bottom: 100px;
	@include enter-animation;

	.campaigns-overview {
		margin-top: 80px;
		max-width: 935px;
		width: 100%;
		display: grid;
		grid-template-columns: repeat(12, minmax(22px, 1fr));
		gap: 50px;

		@include mQ(957px) {
			display: block;

			.all-campaigns {
				margin-bottom: 30px;

				ul {
					display: grid;
					grid-template-columns: repeat(3, 1fr);
					gap: 10px;

					.cp-list-item {
						width: auto;

						&:not(:first-child) {
							margin-top: 0px;
						}
					}
				}
			}
		}

		@include mQ(700px) {
			.all-campaigns {
				ul {
					grid-template-columns: repeat(2, 1fr);
				}
			}
		}

		@include mQ(450px) {
			.all-campaigns {
				ul {
					grid-template-columns: repeat(1, 1fr);
				}
			}
		}

		.all-campaigns {
			grid-column: span 3;

			.cp-list-item {
				padding: 8px;
				width: fit-content;
				border-radius: 3px;
				border: 1px solid #f7f2fd;
				// background-color: #faf7fe;
				cursor: pointer;
				transition: all 0.3s;
				transform: translateY(50px);
				opacity: 0;
				animation: stagger-in 500ms ease forwards;

				@for $x from 2 through $n {
					&:nth-child(#{$x}) {
						animation-delay: 100ms * ($x - 1);
					}
				}

				.range {
					font-size: 12px;
				}

				&:not(:first-child) {
					margin-top: 20px;
				}

				&:hover {
					border: 1px solid $purple;
				}
			}
		}

		.full-calendar {
			grid-column: span 9;
			display: flex;
			flex-direction: column;
			align-items: center;

			.mantine-DatePicker-levelsGroup {
				display: grid;
				grid-template-columns: repeat(3, minmax(22px, 1fr));
				gap: 20px;

				@include mQ(700px) {
					grid-template-columns: repeat(2, minmax(22px, 1fr));
				}

				@include mQ(450px) {
					grid-template-columns: repeat(1, minmax(22px, 1fr));
				}

				.mantine-DatePicker-day {
					position: relative;
					pointer-events: none;

					.custom-day {
						position: relative;
						display: flex;
						justify-content: center;
						align-items: center;
						width: inherit;
						height: inherit;

						&::before {
							content: "";
							height: 2px;
							width: 100%;
							position: absolute;
							background-color: transparent;
						}

						&.strike-through {
							&::before {
								background-color: $purple;
							}
						}
					}
				}

				.mantine-DatePicker-calendarHeaderLevel {
					pointer-events: none;
				}
			}
		}
	}
}
