@use "@/styles/variables.module.scss";
@use "@/styles/mixins.scss";
@use "sass:color";

.campaign-selector {
	max-height: 650px;
	overflow-y: scroll;
	overflow-x: hidden;

	&::-webkit-scrollbar {
		width: 11px;
	}

	& {
		scrollbar-width: thin;
		scrollbar-color: white white;
	}

	&::-webkit-scrollbar-track {
		background: white;
	}

	&::-webkit-scrollbar-thumb {
		background-color: variables.$sea;
		border-radius: 2px;
		border: 3px solid white;
	}

	&:hover {
		& {
			scrollbar-color: variables.$sea white;
		}
	}
}
