@import "@/styles/variables.scss";
@import "@/styles/mixins.scss";

.my-campaigns {
	display: flex;
	justify-content: center;
	padding-bottom: 100px;
	@include enter-animation;

	.my-campaigns-content {
		margin-top: 80px;
		max-width: 1000px;
		width: 100%;

		.campaigns-grid {
			margin-top: 50px;

			.campaign-block {
				margin-bottom: 10px;
				display: grid;
				grid-template-columns: repeat(5, 1fr);
				gap: 10px;

				@include mQ(800px) {
					grid-template-columns: repeat(3, 1fr);
				}

				@include mQ(580px) {
					grid-template-columns: repeat(2, 1fr);
				}

				@include mQ(480px) {
					grid-template-columns: repeat(1, 1fr);
				}
			}

			.grid-content {
				display: grid;
				grid-template-columns: 1fr 1fr;
				gap: 10px;

				@include mQ(580px) {
					grid-template-columns: 1fr;
				}
			}
		}

		.empty {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			padding: 100px 0px;
			background-color: rgba($purple, 0.03);
			border-radius: 3px;
			margin-top: 80px;

			img {
				width: 200px;
				opacity: 0.3;
			}
		}
	}
}
