@import "@/styles/variables.scss";
@import "@/styles/mixins.scss";

.admin {
	@include enter-animation;
	padding: 100px 0px;

	.create-rows {
		margin-top: 50px;

		.row {
			form {
				display: grid;
				grid-template-columns: repeat(6, 1fr);
				gap: 10px;

				@include mQ(990px) {
					display: block;
				}
			}
		}
	}
}
