@use "@/styles/variables.module.scss";
@use "@/styles/mixins.scss";
@use "sass:color";

$n: 100;

.app {
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;

	main {
		padding: 0px 20px;
	}

	a {
		text-decoration: none;
	}
}

@keyframes enter {
	0% {
		transform: translateY(-20px);
		opacity: 0;
	}

	100% {
		transform: translateY(0px);
		opacity: 1;
	}
}
