@import "@/styles/variables.scss";
@import "@/styles/mixins.scss";

nav {
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	@include enter-animation;

	.logo {
		display: flex;
		align-items: center;
	}

	.links {
		display: flex;
		align-items: center;
		gap: 20px;
	}

	@include mQ(875px) {
		.mobile-menu {
			display: block;
		}

		.links {
			display: none;
		}
	}
}
