@use "@/styles/variables.module.scss";
@use "@/styles/mixins.scss";
@use "sass:color";

.video-banner {
	background-color: #f7f7fe;
	border: 1px solid variables.$sea;
}

.large-video-banner {
	background-color: #fbfbfc;
	border: 1px solid variables.$sea;
	position: relative;

	.close-icon {
		position: absolute;
		top: 0px;
		right: 0px;
		z-index: 10;
	}
}
